<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidgyoungtech.cdmdemo">

    <uses-feature android:name="android.software.companion_device_setup" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.Manifest.permission#BIND_NOTIFICATION_LISTENER_SERVICE"/>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CdmDemo">

        <service android:name="com.davidgyoungtech.cdmdemo.MyNotificationListenerService"
            android:label="Watch Notification Forwarding"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
            <meta-data
                android:name="android.service.notification.default_filter_types"
                android:value="conversations|alerting">
            </meta-data>
            <meta-data
                android:name="android.service.notification.disabled_filter_types"
                android:value="ongoing|silent">
            </meta-data>
        </service>

        <activity android:name=".MainActivity"  android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>